* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

header {
    position: absolute;
    width: 100%;
    padding: 40px;
    z-index: 9999;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
 height: 25px;
 vertical-align: middle;   
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar ul li {
    margin: 0 20px;
    list-style: none;
}

.navbar ul li a {
    position: relative;
    padding: 8px 0;
    color: #080808;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.3s linear;
}

.navbar ul li a:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: auto;
    width: 0;
    height: 3px;
    background-color: #df1f2d;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.navbar ul li a:hover,
.navbar ul li a.active {
    color: #df1f2d;
}

.navbar ul li a:hover::after,
.navbar ul li a:hover::after {
    width: 100%;
    right: auto;
    left: 0;
}

.hamburger {
    display: none;
    position: relative;
    width: 25px;
    height: 25px;
    background-color: #df1f2d;
    cursor: pointer;
}

.hamburger span {
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: #fcfcfc;
    position: absolute;
    top: calc(50% - 1.5px);
    left: 0;
    transition: all 0.2s;
}

.hamburger span:first-child {
    transform: translateY(-300%);
    transform-origin: right top;
}

.hamburger span:last-child {
    transform: translateY(300%);
    transform-origin: right bottom;
}

.hamburger.active span:first-child {
    transform: rotate(45deg) scale(0.5) translate(4px);
}

.hamburger.active span:last-child {
    transform: rotate(-45deg) scale(0.5) translate(4px);
}

.hero-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 40px;
    background-color: #fcfcfc;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.hero-section .spider-man {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    user-select: none;
    -webkit-user-drag: none;
}

.hero-content {
    position: relative;
    width: 100%;
    max-width: 700px;
    padding-top: 40px;
}

.hero-content h2 {
    color: #080800;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    text-transform: capitalize;
}

.hero-content .star-rating {
    margin: 10px 0;
}

.hero-content .star-rating .icon {
    display: inline-block;
    color: #df1f2d;
    font-size: 22px;
}

.hero-content p {
    color: #080808;
    font-size: 16px;
    font-weight: 400;
    text-decoration: capitalize;
}

.btn-group {
    margin-top: 30px;
}

.btn-group .btn {
    display: inline-block;
    color: #080808;
    margin-right: 20px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    border: 2px solid #df1f2d;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s;
}

.btn-group .btn-fill {
    color: #fcfcfc;
    background-color: #df1f2d;
}

.btn-group .btn-stroke {
    color: #df1f2d;
}

.btn-group .btn-fill:hover {
    color: #df1f2d;
    background-color: transparent;
}

.btn-group .btn-stroke:hover {
    color: #fcfcfc;
    background-color: #df1f2d;
    border-color: #df1f2d;
}